
<p>My email is: <%= @user.email %></p>
<% if @profile %>
	<p>My name is: <%= @profile.name %></p>
<% end %>
<p>The current user is: <%= @current_user.email %> (Sanity Check)</p>

<%= render 'shared/post_form' %>
<% if @user.posts.any? %>
      <h3>Wall Posts (<%= @user.posts.count %>)</h3>
      <ol>
        <% for el in @posts %>
	<%= el.user.profile.name %> said:
	<%=el.content %>
	Posted <%= time_ago_in_words(el.created_at) %> ago.
	<br />
	<br />
	<%end%>
      </ol>
      <%= will_paginate @posts %>
<% end %>
