<h1> HIHI =>>> <%= @user.id%></h1>

<%= render 'dashboard' %>

<%= params %>
<%# Creates submit peer request button%>
<% if @peer_request %>
	<%= form_for([@peer_request]) do |f| %>  
		<div class="actions">
		  <%= f.submit 'Submit Peer Request' %>
		  
		</div>
	<% end %>
<% elsif @peership %>
	<p> You are peers.</p>
<% else %>
	<p> Peer request has been sent; pending reply </p>
<% end %>	

<h1> wall posts</h1>
<%= render 'shared/post_form' %>
<% if @user.posts.any? %>
      <h3>Wall Posts (<%= @user.posts.count %>)</h3>
      <ol>
        <% for el in @posts %>
	<%= current_user.profile.name %> said:
	<%=el.content %>
	Posted <%= time_ago_in_words(el.created_at) %> ago.
	<br />
	<br />
	<%end%>
      </ol>
      <%= will_paginate @posts %>
<% end %>
