<h1> Details for <%= @item.name %> </h1>

<table>
  <tr>
		<th>Description</th>
		<th>Price</th>
		<th>Owner</th>
  </tr>
  <tr>
    <td><%= @item.description %></td>
    <td><%= @item.price %></td>
    <td><%= @item.user.profile.name if @item.user.profile if @item.user %></td>
  </tr>
</table>

<div>
			<%# Both the following have the same effect %>
			<%# render :file => 'item_responses/new' %>
			<%# render :partial => 'item_responses/form', :locals => { :item => @item }%>	
			<%# The hash for :locals variable in partial maps to variable in existing file %>	
			
			<%= link_to "new message", new_item_item_response_path(@item, :format => :js), :remote => true, :id => 'new_item_response_link' %>
			
			<%# render :file => 'item_responses/new.html.erb', :locals => { :@item => item }%>
			<%# link_to "new message", new_article_comment_path(@article, :format => :js), :remote => true, :id => 'new_comment_link' %>

				
</div>

<div id="test">
	<%# button_to "New", :action => "new" %>
	
	<%# Creates new item relation %>
	<%# button_to "Create", :action => "create", :remote => true, :form => { "data-type" => "json" } %>
	
	<%# X %>
	<%# button_to "Delete Image", { :action => "delete", :id => @item.id }, :confirm => "Are you sure?", :method => :delete %>
	
		<%# X %>
	<%# button_to('Destroy', 'http://www.example.com', :confirm => 'Are you sure?', :method => "delete", :remote => true, :disable_with => 'loading...') %>
   
  <%# X %>	
  	<%# link_to_remote "New Message", :url => new_item_path %>        
          
</div>


<%= link_to 'Edit', edit_item_path(@item) %>
<%= link_to 'Back', items_path %>
