<h1 id="d"> Details for <%= @item.name %> </h1>

<table>
  <tr>
		<th>Description</th>
		<th>Price</th>
		<th>Owner</th>
  </tr>
  <tr>
    <td><%= @item.description %></td>
    <td><%= @item.price %></td>
    <td><%= @item.user.profile.name if @item.user.profile if @item.user %></td>
  </tr>
</table>

<div id="new-resp-button">
			<%# Both the following have the same effect %>
			<%# render :file => 'item_responses/new' %>			
			<%# render :partial => 'item_responses/form', item: @item %>	
		
			<%= link_to "new message", new_item_response_path(:item_id => @item.id, :format => :js), :remote => true, :id => 'new_item_response_link' %>
		
			<%# link_to "new message", :options => {:controller => "item_responses", :action => 'new', :format => :js :remote => true}, :html_options => {:id => 'new_item_response_link'} %>
				
</div>

<div id="resp-here"> </div>



<%= link_to 'Edit', edit_item_path(@item) %>
<%= link_to 'Back', items_path %>
